

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Websites
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/new "  class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li  ng-repeat ="website in model.websites" class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                {{website.name}}
            </a>
            <a href="#/user/{{model.userId}}/website/{{website._id}}">
                <span class="glyphicon glyphicon-cog pull-right glyph-in-list"></span>
            </a>
            <a href="#">
                <span class="glyphicon glyphicon-play pull-right glyph-in-list"></span>
            </a>
        </li>
    </ul>

</div>

<!--
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#/page-list.view.client.html">
                Disney
            </a>

                <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-play "></span>
            </a>

            <a href="#/website-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/page-list.view.client.html">
                Google
            </a>
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-play "></span>
            </a>

            <a href="#/website-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/page-list.view.client.html">
                Facebook
            </a>
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-play "></span>
            </a>

            <a href="#/website-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/page-list.view.client.html">
                Twitter
            </a>
            <a href="#" class="pull-right">
            <span class="glyphicon glyphicon-play "></span>
        </a>

            <a href="#/website-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>
-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <!--<a class="navbar-brand" href="#"></a>-->
            <p class="navbar-text">
                <a href="#/user/{{model.userId}}" class="navbar-link">
          <span class="glyphicon glyphicon-user pull-right text-primary">
          </span>
                </a>
            </p>
        </div>
    </div>

</nav>

