

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Websites
            </a>
            <p class="navbar-text pull-right">
                <a href="website-new.view.client.html" class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#/page-list.view.client.html">
                Disney
            </a>

                <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-play "></span>
            </a>

            <a href="#/website-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/page-list.view.client.html">
                Google
            </a>
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-play "></span>
            </a>

            <a href="#/website-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/page-list.view.client.html">
                Facebook
            </a>
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-play "></span>
            </a>

            <a href="#/website-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/page-list.view.client.html">
                Twitter
            </a>
            <a href="#" class="pull-right">
            <span class="glyphicon glyphicon-play "></span>
        </a>

            <a href="#/website-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <!--<a class="navbar-brand" href="#"></a>-->
            <p class="navbar-text">
                <a href="#/profile.view.client.html" class="navbar-link">
          <span class="glyphicon glyphicon-user pull-right text-primary">
          </span>
                </a>
            </p>
        </div>
    </div>

</nav>

