input.form-control
{margin-bottom: 10px;}
body
{padding-top: 61px;}

/*this below thing applies only to nvbar which is a paragraph*/
p.navbar-text.pull-right
{margin-right: 14px;}

p.navbar-text.pull-left
{margin-left: 14px;}

