<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">


            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>

            <a class="navbar-brand" href="#">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new"
                   class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
                </a>
            </p>

        </div>
    </div>
</nav>

<!--<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">

                <a href="../website/website-list.view.client.html" class="navbar-link">
                     <span class="glyphicon glyphicon-chevron-left">
                     </span>
                </a> </p>
            </div>
            <a class="navbar-brand" href="/assignment/website/website-list.view.client.html">
                Pages
            </a>
            <p class="navbar-text pull-right ">
                <a href="page-new.view.client.html" class="navbar-link">
                 <span class="glyphicon glyphicon-plus">
                 </span>
                </a>
            </p>
        </div>
    </div>
</nav>-->

<!--//old stuff-->
<!--
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/assignment/widget/widget-list.html">Blog Post</a>
            <a href="page-edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right glyph-in-list"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/assignment/widget/widget-list.html">Blog Joke</a>
            <a href="page-edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right glyph-in-list"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/assignment/widget/widget-list.html">Blog Bad</a>
            <a href="page-edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right glyph-in-list"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/assignment/widget/widget-list.html">Blog Good</a>
            <a href="page-edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right glyph-in-list"></span>
            </a>
        </li>
    </ul>

</div>
-->

<div class="container">
    <ul class="list-group">
        <li ng-repeat="page in model.pages" class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                <span class="glyphicon glyphicon-cog pull-right glyph-in-list"></span>
            </a>
        </li>
    </ul>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <!--<a class="navbar-brand" href="#"></a>-->
            <p class="navbar-text">
                <a href="#/user/{{model.userId}}" class="navbar-link">
          <span class="glyphicon glyphicon-user pull-right text-primary">
          </span>
                </a>
            </p>
        </div>
    </div>

</nav>

