<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1.25, user-scalable = no">
    <meta charset="UTF-8">
    <title>Pages</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assignment/css/style.css" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">


            <p class="navbar-text pull-left">
                <a href="/assignment/website/website-list.html" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>

            <a class="navbar-brand" href="#">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="page-new.view.client.html" class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
                </a>
            </p>

        </div>
    </div>
</nav>

<!--<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">

                <a href="../website/website-list.view.client.html" class="navbar-link">
                     <span class="glyphicon glyphicon-chevron-left">
                     </span>
                </a> </p>
            </div>
            <a class="navbar-brand" href="/assignment/website/website-list.view.client.html">
                Pages
            </a>
            <p class="navbar-text pull-right ">
                <a href="page-new.view.client.html" class="navbar-link">
                 <span class="glyphicon glyphicon-plus">
                 </span>
                </a>
            </p>
        </div>
    </div>
</nav>-->
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/assignment/widget/widget-list.html">Blog Post</a>
            <a href="page-edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right glyph-in-list"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/assignment/widget/widget-list.html">Blog Joke</a>
            <a href="page-edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right glyph-in-list"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/assignment/widget/widget-list.html">Blog Bad</a>
            <a href="page-edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right glyph-in-list"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/assignment/widget/widget-list.html">Blog Good</a>
            <a href="page-edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right glyph-in-list"></span>
            </a>
        </li>
    </ul>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <!--<a class="navbar-brand" href="#"></a>-->
            <p class="navbar-text">
                <a href="/assignment/user/profile.html" class="navbar-link">
          <span class="glyphicon glyphicon-user pull-right text-primary">
          </span>
                </a>
            </p>
        </div>
    </div>

</nav>

</body>
</html>