

<div class="container">
   <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
   </div>

<h1>Login</h1>

<input ng-model="username"
       type="text"
       class="form-control"
       placeholder="username"/>

<input ng-model="password"
       class="form-control"
       type="password"
       placeholder="password"/>

    <a ng-click="model.login(username,password)"
       class="btn btn-primary btn-lg btn-block"
       type="submit">Login</a>

    <a class="btn btn-success btn-lg btn-block"
       type="submit" href="#/register">Register</a>


    <a class="btn btn-primary btn-lg btn-block"
       type="submit" href="/auth/facebook">
        <span class=" fa fa-facebook-official"></span>Facebook</a>

</div>

