
<div class="container">
    <div ng-if="model.error" class="alert alert-danger" >
        {{model.error}}
    </div>
    <h1>Register</h1>
    <label for="username">Username</label>
    <input ng-model="username"
           class="form-control"
           placeholder="username"
           id="username"
           type="text"
            />
    <label for="password">Password</label>
    <input ng-model="password"
           class="form-control"
           placeholder="password"
           type="password"
           id="password"
            />
    <label for="passwordRepeat">Repeat Password</label>
    <input ng-model="passwordRepeat"
           class="form-control"
           placeholder="verify-password"
           type="password"
           id="passwordRepeat"/>
    <a ng-click="model.register(username,password,passwordRepeat)" class="btn btn-primary btn-block">Register</a>
    <a class="btn btn-danger btn-block"
       href="#/login">Cancel</a>
</div>


<!--
<div class="container">
    <h1>Register</h1>

    <input class="form-control" placeholder="name"/>
    <input class="form-control" type="password" placeholder="password"/>
    <input class="form-control" type="password" placeholder="verify password"/>
    <a class="btn btn-primary btn-lg btn-block" type="submit" href="#/profile">Register</a>
    <a class="btn btn-danger btn-lg btn-block" type="submit" href="#/login">Cancel</a>

</div>
-->

