<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1.25, user-scalable = no">
    <meta charset="UTF-8">

    <title>Widgets</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <p class="navbar-text pull-left">
                <a href="../page/page-list.view.client.html" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>

            <a class="navbar-brand" href="#">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-chooser.view.client.html" class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<!--<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="text-center pull-left left-header">
                <a href="../page/page-list.view.client.html" class="navbar-link">
                     <span class="glyphicon glyphicon-chevron-left">
                     </span>
                </a>
            </div>
            <a class="navbar-brand" href="../page/page-list.view.client.html">
                Widgets
            </a>
            <p class="navbar-text pull-right header">
                <a href="widget-chooser.view.client.html" class="navbar-link">
                 <span class="glyphicon glyphicon-plus">
                 </span>
                </a>
            </p>
        </div>
    </div>
</nav>-->

<div class="container">

    <div class="jgs-widget">
        <div class="jga-widget-tool">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog  glyph-in-list"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify glyph-in-list"></span>

        </div>
        <h1>Isha's website</h1>
    </div>

    <div class="jgs-widget">
        <div class="jga-widget-tool">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog  glyph-in-list"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify  glyph-in-list"></span>
        </div>
        <h4>Cartoons and Superheroes</h4>
    </div>

    <div class="jgs-widget">
        <div class="jga-widget-tool">
            <a href="widget-image.view.client.html">
                <span class="glyphicon glyphicon-cog  glyph-in-list"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify  glyph-in-list"></span>
        </div>
        <img width="100%" src="http://cdn.playbuzz.com/cdn/68f09ead-1808-464a-864c-feec7bf5a348/6e65be20-7623-41cf-9e8d-f9023eaa1f1d.jpg" />
    </div>

    <div class="jgs-widget">
        <div class="jga-widget-tool">
            <a href="#">
                <span class="glyphicon glyphicon-cog  glyph-in-list"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify  glyph-in-list"></span>
        </div>
        <p>The team is an assemblage of superheroes who join together as the Justice League. The seven original members were <a href="/wiki/Aquaman" title="Aquaman">Aquaman</a>, <a href="/wiki/Batman" title="Batman">Batman</a>, <a href="/wiki/Flash_(Barry_Allen)" title="Flash (Barry Allen)">the Flash</a>, <a href="/wiki/Hal_Jordan" title="Hal Jordan">Green Lantern</a>, <a href="/wiki/Martian_Manhunter" title="Martian Manhunter">the Martian Manhunter</a>, <a href="/wiki/Superman" title="Superman">Superman</a>, and <a href="/wiki/Wonder_Woman" title="Wonder Woman">Wonder Woman</a> and the team roster has rotated throughout the years, consisting of many superheroes from the <a href="/wiki/DC_Universe" title="DC Universe">DC Universe</a>.<sup id="cite_ref-Eury_2-0" class="reference"><a href="#cite_note-Eury-2">[2]</a></sup></p>
    </div>
    <div class="jgs-widget">
        <div class="jga-widget-tool">
            <a href="widget-youtube.view.client.html">
                <span class="glyphicon glyphicon-cog  glyph-in-list"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify  glyph-in-list"></span>
        </div>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/ZAsDL7f3veM" frameborder="0" allowfullscreen></iframe>
    </div>

</div>

<!--
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">


                <a href="/assignment/user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>

                </a>

                <a href="#" class="navbar-text pull-left ">
                    <span class="glyphicon glyphicon-play text-primary "></span>
                </a>

                <a href="#" class="navbar-text pull-left">
                    <span class="glyphicon glyphicon-eye-open text-primary"></span>
                </a>

            </div>


        </div>
    </div>
</nav>-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">

            <p>
                <a href="/assignment/user/profile.html" class="navbar-link">
          <span class="glyphicon glyphicon-user pull-right text-primary">
          </span>
                </a>
            </p>

                <p>
                <a href="#" class="navbar-link">
                    <span class="glyphicon glyphicon-play pull-left "></span>
                </a>
        </p>

              <p>
                <a href="#" class="navbar-link ">
                    <span class="glyphicon glyphicon-eye-open  pull-left "></span>
                </a>
            </p>


        </div>
    </div>

</nav>
</body>
</html>