


<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!--Left arrow-->
        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>
        <span>
        <!--heading on the nav bar-->
        <p class="navbar-header pull-left">
            <a class="navbar-brand thick">
                <b>Widget Edit</b>
            </a>
        </p>
        </span>
        <!--tick mark-->
        <p class="navbar-text pull-right">
            <a  ng-click = "model.updateWidget(model.widget)"
                class="navbar-link">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>

    </div>
</nav>



<div class="container">
    <form>
        <div class="form-group">
            <label for="Name">Name</label>
            <input ng-model="model.widget.name"
                   type="text"
                   class="form-control"
                   id="Name">
        </div>
    </form>

    <form>
        <div class="form-group">
            <label for="Title">Text</label>
            <input  ng-model="model.widget.title"
                    type="text"
                    class="form-control"
                    id="Title">
        </div>
    </form>


    <form>
        <div class="form-group">
            <label for="URL">URL</label>
            <input  ng-model="model.widget.url"
                    type="text"
                    class="form-control"
                    id="URL"
                    placeholder="enter the youtube URL"
            >
        </div>
    </form>


    <form>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widget.width"
                   type="text"
                   class="form-control"
                   id="width">
        </div>
    </form>


    <a class="btn btn-danger btn-block "
       ng-click="model.deleteWidget(model.widget)">Delete</a>


</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>

    </div>
</nav>


