
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>

            <a class="navbar-brand" href="#">
                Widget Edit
            </a>

            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>

        </div>
    </div>
</nav>

<div class="container">
    <form>
        <div class="form-group">
            <label for="head-name">Name</label>
            <input ng-model= "model.widget.name"
                   type="text" class="form-control" id="head-name" placeholder="Name" />
        </div>
        <div class="form-group">
            <label for="head-text">Text</label>
            <input ng-model= "model.widget.text"
                   type="text" id="head-text" class="form-control" placeholder="My Header"/>
        </div>
        <div class="form-group">
            <label for="head-size">Size</label>
            <input ng-model= "model.widget.size"
                   type="number" id="head-size" class="form-control" />
        </div>
    </form>

    <a ng-click="model.deleteWidget(model.widget)" class="btn btn-danger btn-block">Delete</a>
</div>

<!--

<div class="container">
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> Your Header has been updated
    </div>
    <form>
        <div class="form-group">
            <label for="head-name">Name</label>
            <input type="text" class="form-control" id="head-name" placeholder="Name" />
        </div>
        <div class="form-group">
            <label for="head-text">Text</label>
            <input type="text" id="head-text" class="form-control" placeholder="My Header" Value="Feel The Bern"/>
</div>
        <div class="form-group">
            <label for="head-size">Size</label>
            <select id="head-size" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>

        </div>
    </form>
    <a class="btn btn-danger btn-block" href="widget-list.view.client.html">Delete</a>
</div>
-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <!--<a class="navbar-brand" href="#"></a>-->
            <p class="navbar-text">
                <a href="#/user/{{model.userId}}" class="navbar-link">
          <span class="glyphicon glyphicon-user pull-right text-primary">
          </span>
                </a>
            </p>
        </div>
    </div>

</nav>

