<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="bar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<!--{{model}}-->
<div wam-sortable wam-callback="model.reorderWidget(start, end)" class="container">
    <div ng-repeat="widget in model.widgets | orderBy : 'order'"
         class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADER" ng-switch="widget.size">
                <h1 ng-switch-when="1">{{widget.text}}</h1>
                <h2 ng-switch-when="2">{{widget.text}}</h2>
                <h3 ng-switch-when="3">{{widget.text}}</h3>
                <h4 ng-switch-when="4">{{widget.text}}</h4>
                <h5 ng-switch-when="5">{{widget.text}}</h5>
                <h6 ng-switch-when="6">{{widget.text}}</h6>
                <h1 ng-switch-default>{{widget.text}}</h1>
            </div>
            <div ng-switch-when="HTML">
                <div ng-bind-html="model.getSafeHtml(widget)"></div>
            </div>
            <div ng-switch-when="IMAGE">
                <img ng-src="{{widget.url}}" width="{{widget.width}}"/>
            </div>
            <div ng-switch-when="YOUTUBE" class="youtube-widget">
                <iframe width="{{widget.width}}" ng-src="{{model.getSafeUrl(widget)}}" frameborder="0" allowfullscreen></iframe>
            </div>
            <div ng-switch-when="TEXT INPUT">
                <div ng-if="widget.formatted" text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                ['indent','outdent'],['html']]"></div>
                <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                       placeholder="{{widget.textInput.placeholder}}" class="form-control"/>
                <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                          rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                          class="form-control">{{widget.text}}</textarea>
            </div>

            <div ng-switch-default>
                Unable to render widget
            </div>
        </div>
    </div>
    <!--<script>-->
    <!--$(".container").sortable({axis:"y"});-->
    <!--</script>-->
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                  <span class="glyphicon glyphicon-play">
                  </span>
                </a>
            </p>
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                  <span class="glyphicon glyphicon-eye-open">
                  </span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--&lt;!&ndash;Header&ndash;&gt;-->
<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
        <!--&lt;!&ndash;Left arrow&ndash;&gt;-->
        <!--<p class="navbar-text pull-left">-->
            <!--<a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">-->
                <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
            <!--</a>-->
        <!--</p>-->
        <!--<span>-->
        <!--&lt;!&ndash;heading on the nav bar&ndash;&gt;-->
        <!--<p class="navbar-header pull-left">-->
            <!--<a class="navbar-brand thick">-->
                <!--<b>Widgets</b>-->
            <!--</a>-->
        <!--</p>-->
        <!--</span>-->
        <!--&lt;!&ndash;tick mark&ndash;&gt;-->
        <!--<p class="navbar-text pull-right">-->
            <!--<a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">-->
                <!--<span class="glyphicon glyphicon-plus"></span>-->
            <!--</a>-->
        <!--</p>-->

    <!--</div>-->
<!--</nav>-->



<!--&lt;!&ndash;!!Material on the page!!&ndash;&gt;-->


<!--<div class="container">-->
    <!--&lt;!&ndash;use template and iterate once per instance &ndash;&gt;-->

    <!--<div ng-repeat="widget in model.widgets"-->
         <!--class="jga-widget">-->
        <!--<div class="jga-widget-tool">-->
            <!--<a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">-->
                <!--<span class="glyphicon glyphicon-cog"></span>-->
            <!--</a>-->
            <!--<span class="glyphicon glyphicon-align-justify"></span>-->
        <!--</div>-->

        <!--<div ng-switch="widget.widgetType">-->
            <!--<div ng-switch-when="HEADER" ng-switch="widget.size">-->
                <!--<h1 ng-switch-when="1">{{widget.text}}</h1>-->
                <!--<h2 ng-switch-when="2">{{widget.text}}</h2>-->
                <!--<h3 ng-switch-when="3">{{widget.text}}</h3>-->
                <!--<h4 ng-switch-when="4">{{widget.text}}</h4>-->
                <!--<h5 ng-switch-when="5">{{widget.text}}</h5>-->
                <!--<h6 ng-switch-when="6">{{widget.text}}</h6>-->


            <!--</div>-->
            <!--<div ng-switch-when="HTML">-->
                <!--<div ng-bind-html="model.getSafeHtml(widget)"></div>-->

            <!--</div>-->

            <!--<div ng-switch-when="IMAGE">-->
                <!--<img ng-src="{{widget.url}}" width="{{widget.width}}"/>-->
            <!--</div>-->
            <!--<div ng-switch-when="YOUTUBE">-->
                <!--<iframe width="{{widget.width}}"-->
                        <!--ng-src="{{model.getSafeUrl(widget)}}"-->
                        <!--frameborder="0"-->
                        <!--allowfullscreen></iframe>-->
            <!--</div>-->
            <!--<div ng-switch-default>-->
                <!--Unable to render widget-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->



    <!--&lt;!&ndash; Footer &ndash;&gt;-->

    <!--<nav class="navbar navbar-default navbar-fixed-bottom">-->
        <!--<div class="container-fluid">-->
            <!--&lt;!&ndash;Play Symbol&ndash;&gt;-->
            <!--<p class="navbar-text pull-left">-->
                <!--<a href="#">-->
                    <!--<span class="glyphicon glyphicon-play"></span>-->
                <!--</a>-->
                <!--&lt;!&ndash;Eye Symbol&ndash;&gt;-->
                <!--<a href="#">-->
                    <!--<span class="glyphicon glyphicon-eye-open nudge-right-10px"></span>-->
                <!--</a>-->
            <!--</p>-->

            <!--&lt;!&ndash;User Symbol&ndash;&gt;-->
            <!--<p class="navbar-text pull-right">-->
                <!--<a href="#/user/{{model.userId}}">-->
                    <!--<span class="glyphicon glyphicon-user"></span>-->
                <!--</a>-->
            <!--</p>-->

        <!--</div>-->
    <!--</nav>-->
<!--</div>-->

