<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                </a>
            </p>

            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <form>
        <div class="form-group">
            <label for="image-name">Name</label>
            <input ng-model="model.widget.name"
                   type="text" class="form-control" id="image-name" placeholder="Name"/>
        </div>
        <div class="form-group">
            <label for="video-text">Text</label>
            <input ng-model="model.widget.text"
                   type="text" id="video-text" class="form-control" placeholder="My Image" Value="Beautiful Image"/>
        </div>
        <div class="form-group">
            <label for="video-url">URL</label>
            <input ng-model="model.widget.url"
                   type="url" id="video-url" class="form-control" Value="http://s2.vid.com/jdsfhjdhf"/>
        </div>
        <div class="form-group">
            <label for="video-width">Width</label>
            <input ng-model="model.widget.width"
                   type="text" id="video-width" class="form-control" Value="100%"/>
        </div>
    </form>
    <a ng-click="model.deleteWidget(model.widget)" class="btn btn-danger btn-block">Delete</a>
</div>
<!--
<div class="container">
    &lt;!&ndash;<div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> Your Image has been updated
    </div>&ndash;&gt;
    <form>
        <div class="form-group">
            <label for="image-name">Name</label>
            <input type="text" class="form-control" id="image-name" placeholder="Name" />
        </div>
        <div class="form-group">
            <label for="video-text">Text</label>
            <input type="text" id="video-text" class="form-control" placeholder="Justice League" />
        </div>
        <div class="form-group">
            <label for="video-url">URL</label>
            <input type="url" id="video-url" class="form-control" placeholder="https://youtu.be/ZAsDL7f3veM"/>
        </div>
        <div class="form-group">
            <label for="video-width">Width</label>
            <input type="text" id="video-width" class="form-control"  placeholder="100%"/>
        </div>
    </form>
    <a class="btn btn-danger btn-block" href="widget-list.view.client.html">Delete</a>
</div>-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <!--<a class="navbar-brand" href="#"></a>-->
            <p class="navbar-text">
                <a href="#/user/{{model.userId}}" class="navbar-link">
          <span class="glyphicon glyphicon-user pull-right text-primary">
          </span>
                </a>
            </p>
        </div>
    </div>

</nav>
